@media screen and (min-width: 768px) {
  .accordion .content .padding {
    padding: 0px 40px;
  }
  .accordion .content .padding .left p {
    width: 390px;
  }
  .accordion .content .padding .left {
    flex: 0 50%;
  }
  .accordion .content .padding .left span {
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    padding: 71px 0 60px 0;
  }
  .accordion .content .padding .left span {
    font-size: 27px;
  }
  .accordion .content .header {
    padding: 15px 40px 0 40px;
  }
}

@media screen and (min-width: 1250px) {
  .secondSection .brand {
    animation: defilement 5s infinite linear;
    min-width: 100%;
    overflow-x: initial;
    padding: initial;
  }

  @keyframes defilement {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -33.5%;
    }
  }
}
@media screen and (min-width: 992px) {
  .thirdSection {
    justify-content: space-between;
  }
  .thirdSection .wideArticle {
    flex: 1;
  }
  .thirdSection .littleArticle {
    max-width: 276px;
  }
  .thirdSection article:nth-child(3) {
    padding: 30px 17px;
    transition: all 300ms;
  }
  .thirdSection article:nth-child(3):hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .thirdSection .littleArticle.capza {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  .thirdSection .littleArticle {
    border-radius: 10px;
  }
  .thirdSection article {
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .thirdSection .littleArticle.capza {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
